<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">ImBrenan</a>
  <div class="navbar-expand ">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
      <a class="nav-item nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-item nav-link" [routerLink]="['/signup']">Register</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://instagram.com/imbrenan" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/brenanwright/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>
