<nav class="navbar navbar-dark bg-secondary mt-5 ">
    <div class="navbar-expand">
      <div class="nabar-text" style="color:white">
        All images on the site photographed by yours truly. Instagram and LinkedIn located on the right side of this footer.
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav text-center">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://instagram.com/imbrenan" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/brenanwright/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </nav>