<nav class="navbar navbar-dark bg-secondary mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">

  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://instagram.com/imbrenan" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/brenanwright/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
</nav>