<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="border-radius: 50%; top:50px">
      <div class="card" style="border-radius: 50%; ">
          <img class="card-img" style= "border-radius:50%;"  src="https://i.imgur.com/B93irmF.png">
      </div>


    </div>
    <div class=col-10>
      <h1 class="about">about brenan</h1>
      <div class="card">
        <h2 class="card-title">brief summary of me</h2>
        <p class="card-text">
          I graduated from the University of Alabama with a degree in Management Information Systems in May 2019 and I am currently employed at Innovid as a Technical Services Engineer.
          At Innovid I am responsible for handling a ticketing system for users of our advertising platform. My day to day consists of troubleshooting XML/JSON, managing data queries using MySQL and Postgres, and developing tools to help our platform work better.
          I am an intuitive problem solver who loves to create. This love of creating extends from myself into writing, photography, film, and programming.
          I see programming as the ultimate middle-ground between the right brain and the left brain.
          To logically work out problems gets the problem-solving left-brain neurons firing, and outputting something
          that is visible and tangible gets my creative right-brain neurons firing; I absolutely love coding and I thrive
          in it.
          I have learned many different coding languages during my studies and professional life such as C#, Java, C, Python,
          Javascript, and a myriad of different ways to manipulate those and create software projects such as Angular,
          .NET Core, Django and more.
          I wore many hats on different projects during my time at Alabama including project manager, tech lead,
          designer, and developer.</p>
        <p class="card-text">Other than what is essentially my cover letter, I have deep love of the arts. I think
          there is no limit to
          what art can express and I take a lot of pride in creating, whether it be photography, web-design, writing,
          theatre, or film.
          I am an absolute film-enthusiast, and I could beat almost anyone at film trivia! I hope some day to leverage
          these creative interests into being involved in the filmmaking process as a career, either in screenwriting
          or directing.</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-2" style="margin-top:58px">
      <div class="card">
        <h3 class="card-title">
          some basic info
        </h3>
        <p class="card-text">
          Full Name: Brenan Jacob Wright.
        </p>
        <p class="card-text">
          Hometown: Wausau, Wisconsin.
        </p>
        <p class="card-text">
          Degree: B.S. in Management Information Systems, Minor in Economics.
        </p>
        <p class="card-text">
          Favorite Film (If I had to choose) : <br>No Country For Old Men.
        </p>
        <p class="card-text">
            Favorite Song (If I had to choose) : <br>Modern Love by David Bowie.
          </p>
        <p class="card-text">
          Programming Skills: C#, .NET, Python, Django, Javascript, AngularJS, Bootstrap, HTML5, Java.
        </p>
        <p class="card-text">
          Favorite Color: Pink or Cyan, that miami sunset vibe.
        </p>
      </div>
    </div>
    <div class="col-10">
      <h1 class="about">places i have worked at and projects i have worked on</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
              <h5 class="card-title">Innovid (Current) <br><br>Position: Technical Services Engineer</h5>
              Goal: To assist company stakeholders in delivery of data and the resolving of technical issues via custom tools.<br>
              <br>
              Value: I use knowledge of Innovid’s product to work with stakeholders and users to quickly fix any issues with our platform as well as technical knowledge to acquire needed data from a myriad of database solutions..<br><br>
              My Contribution:<br>
              ● Monitor support tickets and work with stakeholders to prioritize tickets accordingly.<br>
              ● Use software development skills to build tools in Python that proactively solve issues before they happen.<br>
              ● Use technical knowledge to query large datasets efficiently so the client gets exactly what they asked for in a timely manner. <br>
            </div>
          </div>
          <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
              <h5 class="card-title">Capstone Project (2019) <br><br> Position: Lead Developer </h5>
              Goal: To build a website in .NET Core with Angular as our front end to build a
              fantasy golf application.<br><br>
              Value: I use software development skills, knowledge, and problem solving to deliver a software solution
              to
              accommodate the needs of our client. <br><br>
              My Contribution:<br>
              ● Help my team build user stories, data models, and develop planning documents.<br>
              ● Keep our codebase consistent and concise by performing code reviews and quality assurance.<br>
              ● Use my knowledge of MVC, .NET Core, PostgreSQL, and Angular to develop the website and help my
              teammates.
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
              <h5 class="card-title">Audio Visual Services (2019)<br><br>Position: Student Tech. Assistant </h5>
              Goal: To assist professors with technological problems they face while using classrooms.<br><br>
              Value: I use knowledge of classroom technologies such as projectors, desktop computers, and Crestron
              devices,
              to assist professors concisely and quickly so they can continue to teach.<br><br>
              My Contribution:<br>
              ● Use soft skills in order to assist professors calmly and respectfully to resolve issues without
              conflict.<br>
              ● Systematically keep inventory and upkeep on classrooms so that problems are found and resolved
              early.<br>
              ● Continually monitor open support tickets so they are attended to and resolved throughout the work day.
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
              <h5 class="card-title">Midwest Communications (2018)<br><br>Position: Software Developer</h5>
              Goal: To develop a careers website to streamline the employment application process.<br><br>
              Value: I used software development skills and knowledge to quickly learn and implement a programming
              language
              and framework I was unfamiliar with to complete the project within the time allotted.<br><br>
              My Contribution:<br>
              ● Served as a project manager; gathered requirements from a team of product owners and scheduled
              sprints.<br>
              ● Served as lead developer; took sprint backlog requirements and developed software solutions.<br>
              ● Used experience I had gained from learning development environments to learn Python/Django in a short
              amount of time to deliver an operational end user product.<br>
            </div>
          </div>
        </div>
      </div>


    </div>
