<div class="container-fluid">
  <div class="row">
    <div class="col-2" style="border-radius: 50%; top:50px">
      <div class="card" style="border-radius: 50%; ">
          <img class="card-img" style= "border-radius:50%;"  src="https://i.imgur.com/YJQ6uyO.jpg">
      </div>


    </div>
    <div class=col-10>
      <h1 class="about">about brenan</h1>
      <div class="card">
        <h2 class="card-title">brief summary of me</h2>
        <p class="card-text">I am a student at the University of Alabama who is graduating in May of 2019 with a B.S.
          in Management Information Systems and a minor in Economics.
          I am an intuitive problem solver who loves to create. This love of creating extends from myself into
          writing, photography, film, and programming.
          I see programming as the ultimate middle-ground between the right brain and the left brain.
          To logically work out problems gets the problem-solving left-brain neurons firing, and outputting something
          that is visible and tangible gets my creative right-brain neurons firing; I absolutely love coding and I thrive
          in it.
          I have learned many different coding languages over my time in school including C#, Java, C, Python,
          Javascript, and a myriad of different ways to manipulate those and create software projects such as Angular,
          .NET Core, Django and more.
          I have worn many hats on different projects during my time at Alabama including project manager, tech lead,
          designer, and developer.
          Alabama's MIS program has placed a focus on communication and business acumen as well.
          Since my first semester in the program we have been practiced in meeting with clients, gathering
          requirements, explaining solutions, and delivering upon their needs and requirements.</p>
        <p class="card-text">Other than what is essentially my cover letter, I have deep love of the arts. I think
          there is no limit to
          what art can express and I take a lot of pride in creating, whether it be photography, web-design, writing,
          theatre, or film.
          I am an absolute film-enthusiast, and I could beat almost anyone at film trivia! I hope some day to leverage
          these creative interests into being involved in the filmmaking process as a career, either in screenwriting
          or directing.</p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-2" style="margin-top:58px">
      <div class="card">
        <h3 class="card-title">
          some basic info
        </h3>
        <p class="card-text">
          Full Name: Brenan Jacob Wright.
        </p>
        <p class="card-text">
          Hometown: Wausau, Wisconsin.
        </p>
        <p class="card-text">
          Degree: B.S. in Management Information Systems, Minor in Economics.
        </p>
        <p class="card-text">
          Favorite Film (If I had to choose) : <br>No Country For Old Men.
        </p>
        <p class="card-text">
            Favorite Song (If I had to choose) : <br>Modern Love by David Bowie.
          </p>
        <p class="card-text">
          Programming Skills: C#, .NET, Python, Django, Javascript, AngularJS, Bootstrap, HTML5, Java.
        </p>
        <p class="card-text">
          Favorite Color: Pink or Cyan, that miami sunset vibe.
        </p>
      </div>
    </div>
    <div class="col-10">
      <h1 class="about">places i have worked at and projects i have worked on</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="card">
              <h5 class="card-title">Capstone Project (Current) <br><br> Position: Lead Developer </h5>
              Goal: To build a website in .NET Core with Angular as our front end to build a
              fantasy golf application.<br><br>
              Value: I use software development skills, knowledge, and problem solving to deliver a software solution
              to
              accommodate the needs of our client. <br><br>
              My Contribution:<br>
              ● Help my team build user stories, data models, and develop planning documents.<br>
              ● Keep our codebase consistent and concise by performing code reviews and quality assurance.<br>
              ● Use my knowledge of MVC, .NET Core, PostgreSQL, and Angular to develop the website and help my
              teammates.
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <h5 class="card-title">Audio Visual Services (Current)<br><br>Position: Student Tech. Assistant </h5>
              Goal: To assist professors with technological problems they face while using classrooms.<br><br>
              Value: I use knowledge of classroom technologies such as projectors, desktop computers, and Crestron
              devices,
              to assist professors concisely and quickly so they can continue to teach.<br><br>
              My Contribution:<br>
              ● Use soft skills in order to assist professors calmly and respectfully to resolve issues without
              conflict.<br>
              ● Systematically keep inventory and upkeep on classrooms so that problems are found and resolved
              early.<br>
              ● Continually monitor open support tickets so they are attended to and resolved throughout the work day.
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <h5 class="card-title">Midwest Communications (2018)<br><br>Position: Software Developer</h5>
              Goal: To develop a careers website to streamline the employment application process.<br><br>
              Value: I used software development skills and knowledge to quickly learn and implement a programming
              language
              and framework I was unfamiliar with to complete the project within the time allotted.<br><br>
              My Contribution:<br>
              ● Served as a project manager; gathered requirements from a team of product owners and scheduled
              sprints.<br>
              ● Served as lead developer; took sprint backlog requirements and developed software solutions.<br>
              ● Used experience I had gained from learning development environments to learn Python/Django in a short
              amount of time to deliver an operational end user product.<br>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <h5 class="card-title">Apple (2017) <br><br>Position: Applecare College Advisor</h5>
              Goal: To provide all consumers of Apple products with any possible assistance they may need for their
              products.<br><br>
              Value: I used soft skills to assist customers with their Apple products to build a rapport with customers,
              so they
              have peace of mind knowing that if something goes wrong that Apple is going to assist in resolving their
              issue.<br><br>
              My Contribution:<br>
              ● Learned the ins and outs of all Apple products.<br>
              ● Assisted customers with a calm demeanor no matter how difficult their problem was.<br>
              ● Communicated with customers to find out exactly what was wrong with their product in order to provide
              them with the most effective solution.<br>
            </div>
          </div>
        </div>
      </div>


    </div>