<div class="container-fluid">
  <div class="row">
    <div id="prof-pic" class="col-2" style="border-radius: 50%; top:50px">
      <div class="card" style="border-radius: 50%; ">
        <img class="card-img" style="border-radius:50%;"
          src="https://media.licdn.com/dms/image/D4E03AQHhn-G8zzjU6w/profile-displayphoto-shrink_400_400/0/1677173923109?e=1698278400&v=beta&t=bbl1jW7MQ-s64ySDwE5iRsvA0zuT83W8ty0-LKc1MK4">
      </div>


    </div>
    <div class=col-10>
      <h1 class="about">About Bree!</h1>
      <div class="card">
        <h2 class="card-title">Brief summary of me.</h2>
        <p class="card-text">
          I graduated from the University of Alabama with a degree in Management Information Systems in May of 2019 and
          I am currently looking for work!
          At Bizzabo I was responsible for managing a ticketing queue and writing HTML, Javascript, and CSS to assist
          our clients with their web design needs.
          I am an intuitive problem solver who loves to create. This love of creating extends from myself into writing,
          photography, film, and programming.
          I see programming as the ultimate middle-ground between the right brain and the left brain.
          To logically work out problems gets the problem-solving left-brain neurons firing, and outputting something
          that is visible and tangible gets my creative right-brain neurons firing; I absolutely love coding and I
          thrive
          in it.
          I have learned many different coding languages during my studies and professional life such as C#, Java, C,
          Python,
          Javascript, and a myriad of different ways to manipulate those and create software projects such as Angular,
          .NET Core, Django and more.
          I wore many hats on different projects during my time at Alabama including project manager, tech lead,
          designer, and developer.</p>
        <p class="card-text">Other than what is essentially my cover letter, I have deep love of the arts. I think
          there is no limit to
          what art can express and I take a lot of pride in creating, whether it be photography, web-design, writing,
          theatre, or film.
          I am a film-enthusiast and I could beat almost anyone at film trivia! I hope some day to leverage
          these creative interests into being involved in the filmmaking process as a career, either in screenwriting
          or directing.</p>
      </div>
    </div>
    <h1 class="places">Places I have worked at and projects I have worked on.</h1>
  </div>
  <div class="row">
    <div class="col-12 col-md-2" >
      <div class="resume-card">
        <h3 class="card-title">
          Some basic info.
        </h3>
        <p class="card-text">
          Full Name: Bree Mabel Wright
        </p>
        <p class="card-text">
          Hometown: Wausau, Wisconsin.
        </p>
        <p class="card-text">
          Degree: B.S. in Management Information Systems, Minor in Economics.
        </p>
        <p class="card-text">
          Favorite Film (If I had to choose) : <br>Mulholland Drive.
        </p>
        <p class="card-text">
          Favorite Song (If I had to choose) : <br>Modern Love by David Bowie.
        </p>
        <p class="card-text">
          Programming Skills: C#, .NET, Python, Django, Javascript, AngularJS, Bootstrap, HTML5, Java.
        </p>
        <p class="card-text">
          Favorite Color: Pink or Cyan, that miami sunset vibe.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-5" >
      <div class="container-fluid">
        <div class="resume-card">
          <h5 class="card-title">Major League Baseball (June 2023 - Present)<br><br>Position: Replay Support Engineer
          </h5>
          Goal: Work with venue techs and broadcast engineers to set up, maintain, and diagnose
          broadcast equipment at all 30 Major League Ballparks.<br><br>
          Value: I utilize communication skills and technical knowledge to assist technicians at up to 5 ballparks
          simultaneously each work day.<br><br>
          My Contribution:<br>
          ● Communicate with ballpark technicians in a quick and friendly manner to efficiently triage issues
          with broadcast equipment.
          ● Troubleshoot Evertz, Ross Video, and Hawkeye systems as quickly as possible.
          ● Verify hardware, software, and manage RMA's of all replay-relevant ballpark equipment.
          ● Maintain documentation of all daily communications with technicians and any issues that may
          have arisen.
        </div>
      </div>
      <div class="container-fluid">
        <div class="resume-card">
          <h5 class="card-title">Bizzabo (April 2021 - December 2022)<br><br>Position: Technical Support Specialist
          </h5>
          Goal: Provided support to customers of Bizzabo’s events platform and develop proactive solutions to
          problems.<br><br>
          Value: I employed software development skills and knowledge of the Bizzabo events platform to troubleshoot
          technical issues and assist customers in a timely manner.<br><br>
          My Contribution:<br>
          ● Monitor support tickets and work with stakeholders to prioritize tickets accordingly.<br>
          ● Use HTML, CSS, and Javascript knowledge to help customers build custom event websites.<br>
          ● Utilize soft skills to help manage the emotions of escalated customers.<br>
          ● Keep a knowledge base up to date with information and workarounds I have found to make the process of
          using the Bizzabo app smooth for everyone.
        </div>
      </div>
      <div class="container-fluid">
        <div class="resume-card">
          <h5 class="card-title">Innovid (July 2019 - January 2021) <br><br>Position: Technical Services Engineer
          </h5>
          Goal: To assist company stakeholders in delivery of data and the resolving of technical issues via
          custom
          tools.<br>
          <br>
          Value: I use knowledge of Innovid’s product to work with stakeholders and users to quickly fix any
          issues
          with our platform as well as technical knowledge to acquire needed data from a myriad of database
          solutions..<br><br>
          My Contribution:<br>
          ● Monitor support tickets and work with stakeholders to prioritize tickets accordingly.<br>
          ● Use software development skills to build tools in Python that proactively solve issues before they
          happen.<br>
          ● Use technical knowledge to query large datasets efficiently so the client gets exactly what they asked
          for
          in a timely manner. <br>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5" >
      <div class="container-fluid">
        <div class="resume-card">
          <h5 class="card-title">Capstone Project (2019) <br><br> Position: Lead Developer </h5>
          Goal: To build a website in .NET Core with Angular as our front end to build a
          fantasy golf application.<br><br>
          Value: I use software development skills, knowledge, and problem solving to deliver a software solution
          to
          accommodate the needs of our client. <br><br>
          My Contribution:<br>
          ● Help my team build user stories, data models, and develop planning documents.<br>
          ● Keep our codebase consistent and concise by performing code reviews and quality assurance.<br>
          ● Use my knowledge of MVC, .NET Core, PostgreSQL, and Angular to develop the website and help my
          teammates.
        </div>
      </div>
      <div class="container-fluid">
        <div class="resume-card">
          <h5 class="card-title">Midwest Communications (2018)<br><br>Position: Software Developer</h5>
          Goal: To develop a careers website to streamline the employment application process.<br><br>
          Value: I used software development skills and knowledge to quickly learn and implement a programming
          language
          and framework I was unfamiliar with to complete the project within the time allotted.<br><br>
          My Contribution:<br>
          ● Served as a project manager; gathered requirements from a team of product owners and scheduled
          sprints.<br>
          ● Served as lead developer; took sprint backlog requirements and developed software solutions.<br>
          ● Used experience I had gained from learning development environments to learn Python/Django in a short
          amount of time to deliver an operational end user product.<br>
        </div>
      </div>
    </div>
  </div>
</div>
