
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="card-title text-center">Log In</h3>
  <form #f="ngForm" novalidate (ngSubmit)="login(f)">
    <div class="form-group">
      <label for="email">User Name</label>
      <input id="username" type="text" required name="username" [ngModel]="credentials.username" #username="ngModel"
        tmFocus class="form-control" placeholder="Username">

      <small [hidden]="username.valid || (username.pristine && !submitted)" class="text-danger">
        Please enter a valid Username
      </small>

    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="Log in">
    </div>


    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{errors}}
    </div>
  </form>
  <button class="btn btn-secondary btn-block" (click)="openSignup()">Create Account</button>

    <div class="explanation">
      <br><br>
      <h5>Explanation of what is going on for anyone curious</h5>
      <p> There is a POST request for your username and password going on when you hit log-in on this modal-form.
        The back-end checks these values using the UserManager in .NetCore and returns a request based on if your credentials are verified. 
        If they are good credentials and they are in the database it generates a JWT security token which is stored in the localstorage of your browser.
      </p>
    </div>
