   
   input[type=text], input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
   }
   
   
   .btn-primary{
       box-shadow: #E8E8E8 0 2px 15px 3px;
       background-color:	#ffffff;
       color:rgb(66, 66, 66);
       margin: 8px 0px;
       border: none;
       cursor: pointer;
       border-radius: 16px; 
       display: inline-block;
       margin: 10px;
   
       
     
     
   }
   .btn-primary:hover{
     background-color:gray;
     border-color:gray;
   }
   
   .button:hover{
       opacity: 0.8;
   }
   .btn-secondary{
     box-shadow: #E8E8E8 0 2px 15px 3px;
       background-color:	#ffffff;
       color:rgb(66, 66, 66);
       margin: 8px 0px;
       border: none;
       cursor: pointer;
       border-radius: 16px; 
       display: block;
     
   }
   
   .modal-body{
       padding: 16px;
   }
   
   .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place*/
     width: 100%; /* Full width*/
     height: 100%; /* Full height*/
     overflow: auto; /* Enable scroll if needed*/ 
    /* background-color: rgb(129, 129, 129); /* Fallback color*/ 
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/ 
     padding-top: 60px;
   }
   
   
   .modal-content{
     background-color: #fefefe;
     margin:  15% auto; 
     border: 1px solid black;
     width: 80%;
   
   }
   .modal-title{
     text-align: center;
     font-size: 35px;
     font-weight: bold;
   }
   .close {
   
     position: absolute;
     right: 25px;
     top: 0; 
     color: #000;
     font-size: 35px;
     font-weight: bold;
   }
   
   Close button on hover 
   .close:hover,
   .close:focus {
     color: red;
     cursor: pointer;
   }
   
   .header1{
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
   
   }
   
   
   /*.header{
       overflow: hidden;
       background-color:white;
      /* padding: 20px;
   }  */
   
   /*.container{
     position:relative
     text-align: center;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     flex-direction: column;
     -webkit-box-pack: center;
     justify-content: center;
     margin-left: 20px;
     margin-right: 20px;
   }*/
   
   h1{
     text-align: center;
     display: block;
     margin-block-start: 1em;
     margin-block-end: .10em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #1a3e64;
   
   }
   
   h2{
     text-transform: uppercase;;
     font-weight: bold;
   }

   h5{
    color: #f4bfbf;
   }  
   
   /*
   h3{
     text-align:center;
     text-transform: uppercase;
     display: block;
     margin-block-start: 1.33em;
     margin-block-end: 1.33em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold;
     padding-bottom: 40px;
   }*/
   .content{
     text-align: center;
     margin:auto;
   }
   
   footer{
     text-align: center;
     
   }
   
   .wrap {
       display:flex;
       background: white;
       padding: 1rem 1rem 1rem 1rem;
       border-radius: 0.5rem;
       box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.3);
       margin-bottom: 4rem;
       
   }
   
   .wrap:hover {
       background: linear-gradient(135deg, gray 0%, crimson 100%);/*(135deg,#6394ff 0%,#0a193b 100%);*/
       /*color: white;*/
   }
   
   .ico-wrap {
       margin: auto;
   }
   
   .mbr-iconfont {
       font-size: 4.5rem !important;
       color: #313131;
       margin: 1rem;
       padding-right: 1rem;
   }
   
   
   .header2{
     text-align: center;
     position: relative;;
   
   
   }
   .header3{
     text-align: center;
     position: relative;;
     color:#f4bfbf;
     stroke: #39547c;
     stroke-width: 3px;

     
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
   }
   .card{
       padding: 1rem!important;
     border: solid;
     border-color: lightgray;
       margin-bottom:1rem;
       -webkit-transition: .5s all ease;
       -moz-transition: .5s all ease;
     transition: .5s all ease;
     box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.6);
     background-color: #39547c;
    color:white;
    font-weight: bold;
    font-size:6; 
    border-width: 2px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
   }
    .card:hover{
       -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
       -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
       box-shadow: 5px 7px 9px -4px rgb(158,158,158);
   }
   
   /*.card .card-block:before{
       font-family: FontAwesome;
       position: absolute;
       font-size: 39px;
       color: #007b5e;
       left: 0;
       -webkit-transition: -webkit-transform .2s ease-in-out;
       transition:transform .2s ease-in-out;
   }*/
   .card:hover .card-block:before{
       -webkit-transform: rotate(360deg);
       transform: rotate(360deg);	
       -webkit-transition: .5s all ease;
       -moz-transition: .5s all ease;
       transition: .5s all ease;
   }
   
   
   @media screen and (min-width: 800px) {
     .header a {
       float: none;
       display: block;
       text-align: left;
     }
     .header-right {
       float: none;
     }
   }
     @media screen and (min-width: 800px)
     {
       .container{
         height: 500px;
         width: 70%
       }
       .content{
         width: 70%
       }
       @media only screen and (max-device-width: 1366px) {
     .parallax {
       background-attachment: scroll;
     }
   }
   }

   .margin{
       margin-left: 10px;
       margin-right: 10px;
   }

   @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}