<h1 class="header3">
  testimonials from my peers, superiors, and friends
</h1>
<br>
<div id="container" class="container-fluid">
  <div class="margin">
    <div id="row1" class="row"></div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-block">
          <h5>How this page works</h5><br>
          <p class="card-text">All of these cards are written dynamically using Javascript. 
              The method makes a GET call to get all the entries in the Testimonials table from the database in JSON format.
              This JSON then populates a list in the Javascript called testimonials. This testimonials list is then fed into a foreach loop which
              then programmatically creates all the necessary rows, divs, paragraphs, and headings to display the testimonials that have been approved.</p>
        </div>
      </div>
    </div>
    <div id="row2" class="row"></div>

    <div id="row3" class="row"></div>

    <div id="row4" class="row"></div>

    <div id="row5" class="row"></div>

    <div id="row5" class="row"></div>
  </div>
</div>