<div class="jumbotron">
  <p class="display-4" >This page doesn't work the same way anymore! But here is how it used to work:</p>
  <p class="lead">So I had set up a MySql database using .NETCore on Azure. This was a relational database that contained users who registered via my registration platform on the top right.
    These users were allowed to login and submit testimonials about me. These testimonials were then stored in their own table in the MySQL Database and I approved them via database updates on the backend website.
    When one visited this page it would load the data as a JSON file and parse through each response and build a card below. This was dynamic and would update whenever the database had a change submitted.
    <a href="https://github.com/BrenanWright/imbrenanangular/tree/master/src/app" style="color: #f4bfbf">If you're curious to see the code this is the Github link!</a></p>

    <p><b>I have provided some dummy data from a JSON Generator to show how this used to look!</b></p>
</div>


<h1 class="header3">
  testimonials from my peers, superiors, and friends
</h1>

<br>
<div id="container" class="container-fluid">
  <div class="margin">
    <div id="row1" class="row"></div>

    <div id="row2" class="row"></div>

    <div id="row3" class="row"></div>

    <div id="row4" class="row"></div>

    <div id="row5" class="row"></div>

    <div id="row5" class="row"></div>
  </div>
</div>
