<div>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="card-title text-center">Register (This also doesn't still work!)</h3>
  <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">

    <div class="form-group">
      <label for="first-name">First name</label>
      <input id="first-name" type="text" required name="firstName" class="form-control" placeholder="Your first name"
        tmFocus ngModel>
    </div>

    <div class="form-group">
      <label for="last-name">Last name</label>
      <input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Your last name"
        ngModel>
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" required name="username" validateEmail class="form-control" placeholder="Username"
        ngModel>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
    </div>


    <div *ngIf="errors" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{errors}}
    </div>

  </form>

  <button class="btn btn-secondary btn-block" (click)="openLogin()" >Already been here?</button>

  <div class="explanation">
      <br>
      <h5>Explanation of what was going on for anyone curious</h5>
      <p style="font-size:9pt;"> There used to be a POST request for your information going on when you hit log-in on this modal-form.
        The back-end checked these values for validity and if they already existed. It would then store the values in the database if they were valid.
        It then killed the modal form and opened the login form on submit.
      </p>
    </div>
