<br />

<div class="jumbotron">
  <p class="display-4" >I made this for my job interview at Bizzabo!</p>
  <p class="lead"> For my final interview with Bizzabo I was tasked with making an event calendar that called the Bizzabo API. I successfully delivered this project over the course of a weekend and am really happy with the result.<br>
    I lost API access but I have filled this with dummy data to give an idea of how it works! Essentially I just get JSON from an API and implement the events into the functionality of the <a href="https://github.com/mattlewis92/angular-calendar" style="color: #f4bfbf">Angular Calendar made by mattlewis92 on Github.</a>
    <p><b>This programmatically adds events to this nifty little calendar! :)</b></p>
</div>

<div class="buttons">
  <div class="row text-center">

    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          Previous
        </div>
        <div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="calendar" [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="eventClicked($event)"
  >
  </mwl-calendar-day-view>
</div>

