<div class="jumbotron">
  <h1 class="display-4">Im Bree!</h1>
  <p class="lead">Welcome! You are likely here because I told you to come look at my personal website, or you're a
    recruiter and you are curious what that "personal website" link was.
    I made this website to be a demonstration of my abilities in AngularJS Web Design and REST Apis using .NET Core as my back-end. The front-end is hosted on github.io and the back-end and database are hosted on Azure.
    <p>In addition to coding, I also love photography! Check out some of my photography below, and follow me on Instagram if you like! (I also took the background picture!)</p>
</div>

<div id="row" class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
      <img class="card-img" src="https://i.imgur.com/MsAhXqu.jpgg">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
        <img class="card-img"  src="https://i.imgur.com/fWch6tk.jpg">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
    <div class="card">
        <img class="card-img"  src="https://i.imgur.com/wpjtfJu.jpg">
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <div class="card">
          <img class="card-img" src="https://i.imgur.com/OOnsLZt.jpg">
      </div>
    </div>
</div>

<div id="row" class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <div class="card">
        <img class="card-img" src="https://i.imgur.com/1aAATnM.jpg">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <div class="card">
          <img class="card-img"  src="https://i.imgur.com/pk3R92C.jpg">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
      <div class="card">
          <img class="card-img"  src="https://i.imgur.com/i6OHHbe.jpg">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="card">
            <img class="card-img" src="https://i.imgur.com/4hw3L0J.jpg">
        </div>
      </div>
  </div>
